<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="connectionLangCao" value="http://base.yxjtj.cn/" />
    <add key="stringtemp" value=" ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      }

      ::-webkit-scrollbar-track-piece {
      background-color: #CCCCCC;
      -webkit-border-radius: 6px;
      }

      ::-webkit-scrollbar-thumb:vertical {
      height: 5px;
      background-color: #999999;
      -webkit-border-radius: 6px;
      }

      ::-webkit-scrollbar-thumb:horizontal {
      width: 5px;
      background-color: #CCCCCC;
      -webkit-border-radius: 6px;
      }"  />
  </appSettings>
</configuration>